/* Stylesheet for landing page project

*/
html, body {
	margin:  0;
	padding: 0;
	width: 100%;
	height: 100%;
}

section#intro{
	background-image: url("background.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	display: table;
}

div#content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

div#content h1{
	font-family: 'Cabin', sans-serif;
	font-size: 500%;
	color: white;
	text-shadow: 4px 0px 8px black;
	letter-spacing: 5px;
}

a#btn{
	text-decoration: none;
	background-color: orange;
	color: black;
	font-size: 250%;
	padding: 10px 20px;
	border-radius: 10px;
	font-family: 'Cabin', sans-serif;
	transition: all 1s;
}

a#btn:hover{
	background-color: white;
	border: solid orange 3px;
}

p{
	font-size: 120%;
	padding: 0px 7px;
}

/*Media query styling*/
@media screen and (max-width: 768px){
	div#content h1 {
		font-size: 350%;
	}

	p{
		display: none;
	}
}